<header>
	<h1 id="header-title-i" class="header-title-c">Catalog</h1>
	<div class="button-item-type">
		<button id="regular-choice" class="title-type-button">Regular</button>
		<button id="limited-choice" class="title-type-button">Limited</button>
		<button id="special-choice" class="title-type-button">Special</button>
	</div>
	<span class="buttonsell">
		<button id="sell-i" class="sell-c" type="button" name="button">Sell item</button>
		<button id="create-i" class="create-c" type="button" name="button">Create Account</button>
	</span>
</header>
