<div class="modal-dialog">
	<h1 class="modal-header">Create Account</h1>
	<div class="input-c">
		<label class="title-username-c" for="input">Username: </label>
		<input type="text" id="create-user-input" class="name-input-i"></input>
	</div>
	<div class="input-c">
		<label class="title-password-c" for="input">Password: </label>
		<input type="password" id="create-password-input" class="name-input-i"></input>
	</div>
</div>
<div class="sell-button-c" id="sell-buttons-c">
	<button type="button" id="cancel-account-i" class="cancel-account-c">Cancel</button>
	<button type="button" id="create-account-i" class="create-account-c">Create Account</button>
</div>
