<div class="modal-dialog">
	<h1 class="modal-header">Sell item & Verify Info</h1>
	
	<div class="input-c">
		<label class="title-username-c" for="input">Username: </label>
		<input type="text" id="username-sell" class="name-input-i"></input>
	</div>

	<div class="input-c">
		<label class="title-password-c" for="input">Password: </label>
		<input type="password" id="password-sell" class="name-input-i"></input>
	</div>

	<div class="input-c">
		<label class="title-name-c" for="input">Item Name: </label>
		<input type="text" id="item-name-sell" class="name-input-i"></input>
	</div>

	<div class="input-c">
		<label class="title-price-c" for="input">Sell Price $: </label>
		<input type="number" id="price-sell" class="price-input-i">
	</div>

	<div>
		<label for="input">Type of Item: </label>
		<input type="radio" name="item-type" id="regular-i" value="Regular" checked>
		<label for="Regular">Regular</label>
		<input type="radio" name="item-type" id="special-i" value="Special">
		<label for="Special">Special</label>
		<input type="radio" name="item-type" id="limited-i" value="Limited">
		<label for="Limited">Limited</label>
	</div>
</div>
<div class="sell-buttons-c" id="sell-buttons-c">
	<button type="button" id="cancel-i" class="cancel-c">Cancel</button>
	<button type="button" id="create-post-i" class="create-post-c">Create Post</button>
</div>
