<div id="item-i" class="item-c">
	<div id="content-i" class="content-c">
		<div id="name-i" class="name-c">Item: {{itemName}}</div>
		<span id="price-i" class="price-c">Price: {{price}}</span>
		<button id="purchase-i" class="purchase-c" onclick="location.href='{{location}}/{{link}}'" type="button" name="button">Purchase</button>
	</div>
</div>
